div.main-content-mobile {
    font-family: UnicaOne;
    /*height: 100%;*/
}

/*Header for Student Instruments on Mobile*/
.instruments-student-mobile .current-level {
    height: auto;
    text-align: right;
}

.instruments-student-mobile img {
    height: 133px;
    width: auto;
}

/*Main Content for Student Instruments on Mobile*/
div.instruments-student-mobile,
div.instruments-student-mobile-header {
    text-align: center;
    padding: 9.25px;
    /*background-color: rgba(68, 85, 103, 0.603);*/
}

div.instruments-student-mobile {
    height: 100%;
}

div.instruments-student-mobile:last-of-type {
    padding-bottom: 200px;
}

.current-teacher-instrument {
    font-size: 19px;
    height: 133px;
    padding-top: 15px;
    font-weight: bold;
    background-color: rgba(99, 188, 229, 0.517);
}

.current-teacher-instrument span {
    font-size: 15px;
}

.current-teacher-instrument p.instrument-teacher {
    font-size: 1em;
}

.current-teacher-instrument p.click-open-medium-teachinst {
    font-size: 0.6em;
    margin-top: -13px;
}

.next-level-date p {
    font-size: 1em;
    width: 98px;
}

.next-level-date {
    vertical-align: middle;
    font-size: 25px;
    font-family: UnicaOne;
    width: ;
    font-weight: bold;
    padding-top: 0;
    height: 133px;
}

.song-bird {
    background: url(../../img/LV2_Song-Bird.png) 0 0 / contain no-repeat;
}

.musician {
    background: url(../../img/LV3_Musician.png) 0 0 / contain no-repeat;
}

.bravo {
    background: url(../../img/LV13_Bravo.png) 0 0 / contain no-repeat;
}
