/*Fixed Header for Mobile. Student.*/

* {
    font-family: arial, helvetica;
    font-size: 100%;
}

html,
body {
    height: 100%;
}

header div.mobile-top-nav {
    background-image: url(../../img/header-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 61px;
    width: 100%;
    text-align: center;
}

.welcome-medium h2 {
    color: white;
}

.music-logo img {
    height: 53px;
    width: 65px;
    margin-top: 3px;
}

.mobile-top-nav button .help,
.home-button,
.hamburger {
    font-size: 2rem;
    cursor: pointer;
    color: #0C2179;
    margin-top: 10px;
    padding-left: 4px;
}

/*Help overlay styles*/

.help-overlay {
    position: fixed;
    text-align: center;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    top: 61px;
    z-index: 2;
    background: rgba(13, 13, 80, 0.836);
    display: none;
    padding-bottom: 100px;
}

span.school-name {
    font-weight: bold;
}

p.faq {
    font-weight: bold;
}

.help-overlay p {
    margin-top: 20px;
    font-size: 30px;
}

.close-help {
    margin-top: 20px;
}

.fa-window-close-o {
    font-size: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    cursor: pointer;
}

.icon-help {
    padding-top: 28px;
}

.icon-help i {
    font-size: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    margin-bottom: 0px;
}

.icon-description {
    text-align: left;
}

.school-icon {
    padding-top: 0;
    font-size: 1em;
    font-weight: bold;
}

.school-info {
    text-align: center;
}

.school-address,
.school-phone-email {
    font-size: 20px;
}

/*Director Styles Only*/

.logout-btn {
    cursor: pointer;
    color: navy;
    font-weight: bold;
    padding-top: 0px;
    margin-top: 27px;
    padding-bottom: 2px;
}

section#director-main-content {
    position: fixed;
    top: 116px;
    color: navy;
    padding-bottom: 200px;
    overflow-y: scroll;
    overflow-style: marquee;
}

.nav-bar,
.dropdown {
    text-align: center;
    position: relative;
    z-index: 0;
}

.nav-bar {
    position: relative;
    color: navy;
    top: 75px;
    z-index: 1;
}

.nav-bar p {
    margin-bottom: 0px;
    padding-top: 6px;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 6px;
}

.active-nav-options {
    background-color: #A8D1E6;
    /*+box-shadow: -1px 6px 7px 0px rgba(0, 0, 128, 0.539);*/
    -moz-box-shadow: -1px 6px 7px 0px rgba(0, 0, 128, 0.539);
    -webkit-box-shadow: -1px 6px 7px 0px rgba(0, 0, 128, 0.539);
    box-shadow: -1px 6px 7px 0px rgba(0, 0, 128, 0.539);
}

.dropdown {
    display: none;
}

.dropdown p {
    padding: 10px;
    font-weight: normal;
}

.dropdown p:hover {
    border: 1px solid navy;
    /*+border-radius: 20px;*/
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    padding: 10px;
}

.coming-soon p {
    color: rgba(128, 128, 128, 0.607);
    cursor: auto;
}

.search-bar {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #A8D1E6;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-left: 10px;
}

.search-input input {
    margin-bottom: 0;
}

.search-filter {
    color: navy;
}

/*.search-filter-visible
{
	visibility: hidden;
}*/

.search-results-holder h2 {
    text-align: center;
    /*    display: none;*/
}

.calendar-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

/*user-student widget styles*/

/*For Medium screen sizes and higher*/

@media screen and (min-width: 40em) {
    /* Turn on custom 8px wide scrollbar */
    ::-webkit-scrollbar,
    ::-moz-scrollbar {
        width: 8px;
        /* 1px wider than Lion. */
        /* This is more usable for users trying to click it. */
        background-color: rgba(0, 0, 0, 0);
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
    }

    /* hover effect for both scrollbar area, and scrollbar 'thumb' */
    ::-webkit-scrollbar:hover,
    ::-moz-scrollbar:hover {
        background-color: rgba(0, 0, 0, 0.09);
    }

    /* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
    ::-webkit-scrollbar-thumb:vertical,
    ::-moz-scrollbar-thumb:vertical {
        /* This is the EXACT color of Mac OS scrollbars. 
               Yes, I pulled out digital color meter */
        background: rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
    }

    ::-webkit-scrollbar-thumb:vertical:active,
    ::-moz-scrollbar-thumb:vertical:active {
        background: rgba(0, 0, 0, 0.61);
        /* Some darker color when you click it */
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
    }

    header div.mobile-top-nav {
        height: 75px;
        z-index: 0;
    }

    .music-logo img {
        height: 65px;
        width: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .welcome-medium {
        padding-top: 9px;
    }

    .mobile-top-nav button .help,
    .home-button {
        font-size: 2.2rem;
        cursor: pointer;
        color: #0C2179;
        margin-top: 21px;
    }

    /*    Help Overlay Styles*/
    .help-overlay {
        top: 75px;
    }

    .school-icon {
        font-size: 1.5em;
    }

    p.faq-how-to {
        font-size: 1em;
        /*+box-shadow: inset 0 0 37px 0px #252664;*/
        -moz-box-shadow: inset 0 0 37px 0px #252664;
        -webkit-box-shadow: inset 0 0 37px 0px #252664;
        box-shadow: inset 0 0 37px 0px #252664;
    }

    div.indiv-question {
        background-color: #378EFF;
        /*+border-radius: 55px;*/
        -moz-border-radius: 55px;
        -webkit-border-radius: 55px;
        -khtml-border-radius: 55px;
        border-radius: 55px;
        padding: 0px 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    div.indiv-question p:first-of-type {
        margin: 0;
        padding-right: 11px;
        padding-left: 11px;
        padding-top: 0px;
    }

    p.see-answer {
        font-size: 0.9em;
        font-style: italic;
        padding: 0px;
        margin: 0;
    }

    .help-question-acc-open {
        display: none;
        /*+box-shadow: inset 0 0 295px 19px #303179;*/
        -moz-box-shadow: inset 0 0 295px 19px #303179;
        -webkit-box-shadow: inset 0 0 295px 19px #303179;
        box-shadow: inset 0 0 295px 19px #303179;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 8px;
        margin-bottom: 25px;
        /*+border-radius: 33px;*/
        -moz-border-radius: 33px;
        -webkit-border-radius: 33px;
        -khtml-border-radius: 33px;
        border-radius: 33px;
    }

    div.help-question-acc-open p {
        font-size: 1.2em;
        text-align: left;
        text-indent: 50px;
    }

    /*For Director only*/
    header div.mobile-top-nav {
        background-image: url(../../img/header-bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 0;
        height: 75px;
        width: 100%;
        text-align: center;
    }

    xf {
        z-index: -1;
    }

    div.search-results-holder {
        margin-top: 40px;
    }

    div.parents-all {
        margin-top: 40px;
    }

    div.student-list {
        margin-top: 40px;
    }
}

.panel-heading {
    text-align: center;
    background-color: #1A6BB0;
    /*+box-shadow: 0px 3px 6px 1px #8F8E8E;*/
    -moz-box-shadow: 0px 3px 6px 1px #8F8E8E;
    -webkit-box-shadow: 0px 3px 6px 1px #8F8E8E;
    box-shadow: 0px 3px 6px 1px #8F8E8E;
    margin-top: 20px;
}

.panel-heading .student-name {
    padding-top: 28px;
    color: white;
}

.instructor-class-container {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.indiv-instruct-class .teacher,
.indiv-instruct-class .instrument {
    background-color: white;
    color: navy;
}

.indiv-instruct-class .level {
    color: white;
    font-weight: bold;
}

.instructor-class-container span {
    font-size: 12px;
}

.indiv-instruct-class {
    border: 1px solid navy;
    margin-right: 4px;
}

.director-student-actions {
    padding-top: 4px;
}

.open-student-view {
    text-align: right;
    padding-right: 10px;
}

.indiv-dir-act-icons.open-student-view .dir-act-icons {
    padding: 5px 7px;
    background-color: #165A93;
    font-size: 25px;
    color: white;
}

.indiv-dir-act-icons.delete-student .dir-act-icons,
.indiv-dir-act-icons.edit-student .dir-act-icons {
    padding: 5px 7px;
    background-color: #165A93;
    font-size: 20px;
    color: white;
}

.indiv-dir-act-icons.delete-student .dir-act-icons,
.indiv-dir-act-icons.edit-student .dir-act-icons:hover,
.indiv-dir-act-icons.open-student-view .dir-act-icons:hover {
    cursor: pointer;
}

.indiv-dir-act-icons.edit-student .dir-act-icons {
    padding: 5px 3px 5px 7px;
}

.panel-body {
    display: none;
    /*+box-shadow: 0px 3px 6px 1px #8F8E8E;*/
    -moz-box-shadow: 0px 3px 6px 1px #8F8E8E;
    -webkit-box-shadow: 0px 3px 6px 1px #8F8E8E;
    box-shadow: 0px 3px 6px 1px #8F8E8E;
    color: navy;
}

.panel-body-heading {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
}

.panel-body-heading .student-name {
    padding-top: 28px;
}

.panel-body-heading .edit-student .dir-act-icons,
.panel-body-heading .open-student-view .dir-act-icons {
    border: 1px solid navy;
    background-color: white;
    color: navy;
}

/*    styles for the individual ladder levels*/

.apprentice {
    background: none 0 0 / auto no-repeat #8FBF22;
}

.song-bird {
    background: none 0 0 / auto no-repeat #D5E516;
}

.musician {
    background: none 0 0 / auto no-repeat #E3D30E;
}

.rockstar {
    background: none 0 0 / auto no-repeat #E3A428;
}

.allegro {
    background: none 0 0 / auto no-repeat #D8812A;
}

.vivace {
    background: none 0 0 / auto no-repeat #DA6729;
}

.prodigy {
    background: none 0 0 / auto no-repeat #D15815;
}

.maestro {
    background: none 0 0 / auto no-repeat #B22B31;
}

.master {
    background: none 0 0 / auto no-repeat #7C192A;
}

.superior {
    background: none 0 0 / auto no-repeat #9D3962;
}

.champion {
    background: none 0 0 / auto no-repeat #9D3396;
}

.superstar {
    background: none 0 0 / auto no-repeat #76349F;
}

.prima {
    background: none 0 0 / auto no-repeat #581B7E;
}

.bravo {
    background: none 0 0 / auto no-repeat #5357A2;
}

.adept {
    background: none 0 0 / auto no-repeat #434796;
}

.marvel {
    background: none 0 0 / auto no-repeat #202474;
}

.ace {
    background: none 0 0 / auto no-repeat #204A74;
}

.artist {
    background: none 0 0 / auto no-repeat #226B71;
}

/*Styles for Individual student-teacher tab navigation*/

.dir-student-nav {
    text-align: center;
    margin-top: 30px;
}

.dir-teacher-inst-nav .events-tab {
    padding-top: 11px;
}

.dir-teacher-inst-nav #riehle-events-tab,
.dir-teacher-inst-nav .teach-inst {
    border: 1px solid navy;
    margin-right: 3px;
    border-bottom: none;
}

.tname-iname {
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.notes-tests-tab-container .teacher-notes-tab {
    border-top: 1px solid navy;
    border-right: 1px solid navy;
}

.notes-tests-tab-container .teacher-tests-tab {
    border-top: 1px solid navy;
}

.dir-teacher-inst-nav .events-tab:hover,
.notes-tests-tab-container .teacher-notes-tab:hover,
.notes-tests-tab-container .teacher-tests-tab:hover {
    cursor: pointer;
}

.active-tab {
    border-bottom: none;
    cursor: auto;
}

.inactive-tab {
    border-bottom: 1px solid navy;
    cursor: pointer;
}

/*Events Holder Styles*/

.events-notes-tests-container {
    border-left: 1px solid navy;
    border-bottom: 1px solid navy;
    border-right: 1px solid navy;
}

.student-events-container {
    display: none;
}

.dir-student-indiv-event {
    border-bottom: 1px solid navy;
    margin-bottom: 20px;
}

.teach-student-events-holder .dir-student-indiv-event:first-of-type {
    margin-top: 25px;
}

.dir-student-indiv-event .glob-local-indicator {
    background-color: #196BB0;
    color: white;
}

.glob-local-indicator,
.event-date,
.event-title,
.event-time {
    text-align: center;
}

/*Notes Holder Styles*/

.student-notes-container {
    display: none;
}

div.dir-teach-student-notes-container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.add-note button {
    padding: 5px;
    background-color: #196BB0;
    color: white;
}

.add-note button:hover {
    cursor: pointer;
}

.teach-student-notes-holder .dir-student-indiv-note {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    border: 1px solid navy;
}

.dir-student-indiv-note .note-date {
    font-size: 12px;
}

.dir-student-indiv-note .note-attachment i:hover {
    cursor: pointer;
}

.add-note span {
    padding-left: 10px;
}

/*Tests Holder Styles*/

.student-tests-container {
    display: none;
}

.events-notes-tests-container .dir-teach-student-tests-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.add-test button {
    padding: 5px;
    background-color: #196BB0;
    color: white;
}

.add-test button:hover {
    cursor: pointer;
}

.add-test span {
    padding-left: 10px;
}

.teach-student-tests-holder .dir-student-indiv-test {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid navy;
}

.test-actions-director span {
    padding: 5px;
    font-size: 12px;
}

.test-actions-director span:hover {
    cursor: pointer;
}

.test-actions-director span:first-of-type {
    border-right: 1px solid navy;
}

.test-actions-director span:last-of-type {
    border-left: 1px solid navy;
}

.dir-student-indiv-test .test-level {
    color: white;
    font-weight: bold;
}
