@import url(../student-css/instruments-students.css);
@import url(../student-css/tests-student.css);
@import url(../student-css/events-student.css);
@import url(../student-css/notes-student.css);
@import url(all-students-parent.css);

/*Fixed Header for Mobile. Student.*/
* {
    font-family: arial, helvetica;
    font-size: 100%;
}

html,
body {
    height: 100%;
    color: white;
}

::-webkit-scrollbar:hover,
::-moz-scrollbar:hover {
    visibility: hidden;
}

header div.mobile-top-nav {
    background-image: url(../../img/header-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 61px;
    width: 100%;
    text-align: center;
}

.music-logo img {
    height: 53px;
    width: 65px;
    margin-top: 3px;
}

.mobile-top-nav button .help,
.home-button,
.hamburger {
    font-size: 2rem;
    cursor: pointer;
    color: #0C2179;
    margin-top: 10px;
}

.welcome-student-mobile {
    width: 100%;
    text-align: center;
    background: url(../../img/ladder-active@2x.png) 0 0 / cover no-repeat;
    position: fixed;
    top: 61px;
    z-index: 1;
    height: 60px;
}

.welcome-student-mobile div h1 {
    font-weight: bold;
    font-size: 27px;
    color: white;
    text-shadow: 0 0 4px #9C7676;
    padding: 10.25px;
}

.welcome-medium {
    padding-top: 13px;
}

.welcome-medium h2 {
    font-weight: bold;
}

/*Hamburger Overlay*/
div.hamburger-menu {
    position: fixed;
    top: 61px;
    z-index: 1;
    background-color: #A8D1E6;
    /*+box-shadow: 6px 6px 14px 10px rgba(6, 59, 87, 0.487);*/
    -moz-box-shadow: 6px 6px 14px 10px rgba(6, 59, 87, 0.487);
    -webkit-box-shadow: 6px 6px 14px 10px rgba(6, 59, 87, 0.487);
    box-shadow: 6px 6px 14px 10px rgba(6, 59, 87, 0.487);
    display: none;
}

.home-hold {
    text-align: center;
    margin-top: 0;
    padding: 0;
}

.home-button {
    margin: 0 0 10px 0;
    font-size: 1.6em;
}

.child-icon {
    color: #0C2179;
    font-size: 1.3em;
}

.home-screen {
    padding-top: 10px;
}

.home-screen,
.parent-children,
.indiv-child-choose,
.teacher-students-menu {
    margin-bottom: 10px;
}

.home-screen:hover,
.indiv-child-choose:hover {
    background-color: #59A0C5;
    cursor: pointer;
}

.children-icon,
.ch-icon-hold {
    text-align: center;
    padding: 0px;
}

.hamburger-menu p {
    padding: 0px;
    margin: 0;
}

/*Mobile Body*/
.view-holder {
    min-height: 521px;
    max-height: 90%;
    position: fixed;
    top: 121px;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    overflow-x: hidden;
    padding-bottom: 200px;
    padding-top: 20px;
}

.school-notifications {
    position: fixed;
    bottom: 70px;
    z-index: 1;
    background-color: #000000;
    display: none;
}

p.notification-message {
    background-color: rgba(217, 0, 0, 0.552);
    border: 1px solid #FB0000;
    padding: 10px;
    margin-bottom: 0;
}

/*Sticky Footer Style for Mobile. Student.*/
.mobile-app-icon-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-image: url(../../img/header-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat no-repeat;
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-height: 70px;
}

.mobile-app-icon-bar button svg,
.mobile-app-icon-bar button i,
.mobile-app-icon-bar button img {
    font-size: 2rem;
    max-height: 2rem;
    max-width: 2rem;
}

.mobile-app-icon-bar button {
    padding: 1.25rem;
}

.mobile-app-icon-bar button:enabled {
    cursor: pointer;
    color: #0C2179;
}

/*Help overlay styles*/
.help-overlay {
    position: fixed;
    text-align: center;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    top: 61px;
    z-index: 1;
    background: rgba(13, 13, 80, 0.836);
    display: none;
    padding-bottom: 100px;
}

span.school-name {
    font-weight: bold;
}

p.faq {
    font-weight: bold;
}

.help-overlay p {
    margin-top: 20px;
    font-size: 30px;
}

.close-help {
    margin-top: 20px;
}

.fa-window-close-o {
    font-size: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    cursor: pointer;
}

.icon-help {
    padding-top: 28px;
}

.icon-help i {
    font-size: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    margin-bottom: 0px;
}

.icon-description {
    text-align: left;
}

.school-icon {
    padding-top: 0;
    font-size: 1em;
    font-weight: bold;
}

.school-info {
    text-align: center;
}

.school-address,
.school-phone-email {
    font-size: 20px;
}
