@font-face {
    font-family: SedgewickAve;
    src: url(../fonts/fonts/Sedgwick_Ave/SedgwickAve-Regular.ttf);
}

@font-face {
    font-family: GermaniaOne;
    src: url(../fonts/fonts/Germania_One/GermaniaOne-Regular.ttf);
}

@font-face {
    font-family: UnicaOne;
    src: url(../fonts/fonts/Unica_One/UnicaOne-Regular.ttf);
}
