@font-face {
    font-family: SedgewickAve;
    src: url(../fonts/fonts/Sedgwick_Ave/SedgwickAve-Regular.ttf);
}

@font-face {
    font-family: GermaniaOne;
    src: url(../fonts/fonts/Germania_One/GermaniaOne-Regular.ttf);
}

@font-face {
    font-family: UnicaOne;
    src: url(../fonts/fonts/Unica_One/UnicaOne-Regular.ttf);
}

div.main-content-mobile {
    font-family: UnicaOne;
    /*height: 100%;*/
}

.instrument-content-mobile {
    background-color: rgba(68, 85, 103, 0.603);
}

.welcome-student-mobile {
    width: 100%;
    text-align: center;
    background: url(../img/ladder-active-overlay.png) 0 0 / cover no-repeat;
    /*+box-shadow: 0px -54px 50px 14px rgba(29, 26, 75, 0.332) !important;*/
    -moz-box-shadow: 0px -54px 50px 14px rgba(29, 26, 75, 0.332) !important;
    -webkit-box-shadow: 0px -54px 50px 14px rgba(29, 26, 75, 0.332) !important;
    box-shadow: 0px -54px 50px 14px rgba(29, 26, 75, 0.332) !important;
}

.welcome-student-mobile div h1 {
    font-weight: bold;
    font-size: 27px;
    font-family: SedgewickAve;
    color: white;
    text-shadow: 0 0 51px #000000;
    padding: 10.25px;
}

/*Header for Student Instruments on Mobile*/
div.instruments-student-mobile-header {
    font-weight: 600;
    font-size: 18px;
    background-color: rgba(68, 85, 103, 0.603);
}

.instruments-student-mobile .current-level {
    /*+box-shadow: 0px 0px 50px 14px rgba(29, 26, 75, 0.332) !important;*/
    -moz-box-shadow: 0px 0px 50px 14px rgba(29, 26, 75, 0.332) !important;
    -webkit-box-shadow: 0px 0px 50px 14px rgba(29, 26, 75, 0.332) !important;
    box-shadow: 0px 0px 50px 14px rgba(29, 26, 75, 0.332) !important;
}

.instruments-student-mobile-header,
.current-teacher-instrument,
.next-level-date {
    /*+box-shadow: inset 0px 0px 50px 14px rgba(29, 26, 75, 0.332) !important;*/
    -moz-box-shadow: inset 0px 0px 50px 14px rgba(29, 26, 75, 0.332) !important;
    -webkit-box-shadow: inset 0px 0px 50px 14px rgba(29, 26, 75, 0.332) !important;
    box-shadow: inset 0px 0px 50px 14px rgba(29, 26, 75, 0.332) !important;
}

.instrument-table-title h3 {
    font-size: 22px;
    font-weight: 900;
    font-family: UnicaOne;
    text-decoration: underline double rgba(45, 43, 81, 0.629);
}

/*Main Content for Student Instruments on Mobile*/
div.instruments-student-mobile,
div.instruments-student-mobile-header {
    text-align: center;
    padding: 9.25px;
    background-color: rgba(68, 85, 103, 0.603);
}

div.instruments-student-mobile {
    height: 100%;
}

div.instruments-student-mobile:last-of-type {
    padding-bottom: 100px;
}

.current-teacher-instrument {
    padding-top: 11%;
    font-size: 19px;
}

.instruments-student-mobile-header .current-level,
.next-level-date-title {
    padding-top: 15px;
}

.next-level-date {
    padding-top: 19%;
    vertical-align: middle;
    font-size: 19px;
    text-shadow: -2px 1px 4px #0E00A2;
    font-family: GermaiaOne;
}

.song-bird {
    background: url(../img/LV2_Song-Bird-overlay.png) 0 0 / cover no-repeat;
}

.musician {
    background: url(../img/LV3_Musician-overlay.png) 0 0 / cover no-repeat;
}

.bravo {
    background: url(../img/LV13_Bravo-overlay.png) 0 0 / cover no-repeat;
}
