.notes-avatar {
    /*+border-radius: 50px;*/
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    border-radius: 50px;
    margin-top: 13px;
}

DIV.message-container:first-of-type {
    margin-top: 26px;
}

.message-container {
    margin-bottom: 20px;
    background-color: rgba(0, 178, 217, 0.440);
    border: 1px solid #2D01CB;
}

.message {
    margin-top: 15px;
}

DIV.message-container:last-of-type {
    margin-bottom: 100px;
}
