.personal-global {
    background-color: rgba(0, 178, 217, 0.440);
    text-align: center;
    padding-top: 0px;
    font-size: 25px;
    font-weight: bold;
    color: #5B5BFF;
    padding-bottom: 0;
}

.personal-btn,
.global-btn {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.personal-btn {
    color: navy;
    /*+box-shadow: inset 0 0 75px white;*/
    -moz-box-shadow: inset 0 0 75px white;
    -webkit-box-shadow: inset 0 0 75px white;
    box-shadow: inset 0 0 75px white;
}

.personal-events,
.global-events {
    padding-bottom: 200px;
}

.global-events,
label.close-month,
.month-acc-dropdown,
p.close-details {
    display: none;
}

.individual-month {
    background-color: rgba(0, 178, 217, 0.440);
    border: 1px solid #2D01CB;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
}

.individual-month:first-of-type {
    margin-top: 20px;
}

div.month-name {
    text-align: center;
}

p.month-name {
    font-size: 25px;
    font-weight: bold;
}

label.open-month,
label.close-month {
    font-style: italic;
    color: white;
    color: #0C2179;
    font-size: 17px;
    cursor: pointer;
    padding-top: 7px;
}

.individual-events {
    border: 1px solid #2D01CB;
    font-size: 25px;
    text-align: center;
    padding: 0;
    background-color: rgba(0, 178, 217, 0.198);
}

div.event-time {
    text-align: right;
    padding-right: 10px;
}

div.individual-event-day {
    background-color: rgba(0, 178, 217, 0.509);
}

p.date-number,
p.event-name,
p.event-time {
    margin-bottom: 0;
}

div.more-details {
    font-size: 15px;
    font-style: italic;
    color: white;
    color: #0C2179;
    cursor: pointer;
    padding-top: 2%;
}

.event-description {
    display: none;
    padding-bottom: 1px;
    padding-top: 8px;
    background-color: rgba(0, 178, 217, 0.509);
}

.event-description p {
    font-size: 16px;
}

/*For Medium screen sizes and higher*/
@media screen and (min-width: 40em) {
    p.month-name {
        font-size: 1em;
    }
    
    p.event-time {
        font-size: 1em;
    }
    
    p.event-name {
        font-size: 0.8em;
    }
    
    div.more-details {
        padding: 0px 0 0;
        margin: 0;
    }
    
    p.more-details {
        font-size: 0.8em;
        text-align: center;
        padding: 0px 0 0;
    }
    
    p.close-details {
        font-size: 0.8em;
    }
    
    .personal-events {
        padding-bottom: 0;
    }
    
    .global-events {
        display: block;
    }
}

/*For large screens and higher*/
@media screen and (min-width: 50em) {
    p.month-name {
        font-size: 1.2em;
    }
    
    p.event-name {
        font-size: 1em;
    }
    
    div.more-details {
        padding: 0px 0 0;
        margin: 0;
    }
}

/* x-Large and up */
@media screen and (min-width: 64em) {
    p.month-name {
        font-size: 1.7em;
    }
    
    p.more-details {
        font-size: 1em;
    }
}

.music-event-icon .fa-music,
.globe-icon .fa-globe {
    color: #0C2179;
    font-size: 25px;
}
