@import url(instruments-students.css);
@import url(tests-student.css);
@import url(events-student.css);
@import url(notes-student.css);

/*Fixed Header for Mobile. Student.*/

* {
    font-family: arial, helvetica;
    font-size: 100%;
}

html,
body {
    height: 100%;
    color: white;
}

header div.mobile-top-nav {
    background-image: url(../../img/header-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 61px;
    width: 100%;
    text-align: center;
}

.music-logo img {
    height: 53px;
    width: 65px;
    margin-top: 3px;
}

.mobile-top-nav button .help,
.home-button {
    font-size: 2rem;
    cursor: pointer;
    color: #0C2179;
    margin-top: 10px;
}

.welcome-student-mobile {
    width: 100%;
    text-align: center;
    background: url(../../img/ladder-active@2x.png) 0 0 / cover no-repeat;
    position: fixed;
    top: 61px;
    z-index: 1;
    height: 60px;
}

.welcome-student-mobile div h1 {
    font-weight: bold;
    font-size: 27px;
    color: #0C2179;
    text-shadow: 0 0 78px #FFFFFF;
    padding: 10.25px;
}

/*Fixed Header for medium and large screens. Student.*/

header div.medium-top-nav.show-for-medium {
    background-image: url(../../img/header-bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat no-repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 105px;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.music-logo-medium img {
    padding: 4.25px;
    max-height: 100px;
}

.medium-top-nav button .help {
    font-size: 2.5rem;
    cursor: pointer;
    color: #0C2179;
    margin-top: 10px;
}

/*Mobile Body*/

.view-holder {
    min-height: 521px;
    max-height: 90%;
    position: fixed;
    top: 121px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 200px;
}

.school-notifications {
    position: fixed;
    bottom: 70px;
    z-index: 1;
    background-color: #000000;
    display: none;
}

p.notification-message {
    background-color: rgba(217, 0, 0, 0.552);
    border: 1px solid #FB0000;
    padding: 10px;
    margin-bottom: 0;
}

/*Medium and Larger Body*/

div.main-content-medium {
    margin-top: 70px !important;
    /*background-color: #1C4B7E;*/
    padding-top: 31.25px;
    color: #FFFFFF;
    /*text-shadow: -1px 7px 14px #000000;*/
    background-image: url(../../img/header-bg.png);
    background-position: center;
    background-size: 208% 723px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: UnicaOne;
    padding-bottom: 70.25px;
}

.welcome-student-medium {
    text-align: center;
    background: url(../..img/ladder-active-overlay.png) 0 0 / cover repeat-y;
    /*+box-shadow: 0px -54px 50px 14px rgba(29, 26, 75, 0.332) !important;*/
    -moz-box-shadow: 0px -54px 50px 14px rgba(29, 26, 75, 0.332) !important;
    -webkit-box-shadow: 0px -54px 50px 14px rgba(29, 26, 75, 0.332) !important;
    box-shadow: 0px -54px 50px 14px rgba(29, 26, 75, 0.332) !important;
    height: 122px;
    padding: 10px 16px 16px;
}

.welcome-student-medium div h1 {
    font-weight: bold;
    font-size: 40px;
    font-family: SedgewickAve;
    color: white;
    text-shadow: 0 0 51px #000000;
}

/*Sticky Footer Style for Mobile. Student.*/

.mobile-app-icon-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-image: url(../../img/header-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat no-repeat;
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-height: 70px;
}

.mobile-app-icon-bar button svg,
.mobile-app-icon-bar button i,
.mobile-app-icon-bar button img {
    font-size: 2rem;
    max-height: 2rem;
    max-width: 2rem;
}

.mobile-app-icon-bar button {
    padding: 1.25rem;
}

.mobile-app-icon-bar button:enabled {
    cursor: pointer;
    color: #0C2179;
}

/*Help overlay styles*/

.help-overlay {
    position: fixed;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    top: 61px;
    z-index: 1;
    background: rgba(13, 13, 80, 0.836);
    display: none;
    padding-bottom: 100px;
}

span.school-name {
    font-weight: bold;
}

p.faq {
    font-weight: bold;
}

.help-overlay p {
    margin-top: 20px;
    font-size: 30px;
}

.close-help {
    margin-top: 20px;
}

.fa-window-close-o {
    font-size: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    cursor: pointer;
}

.icon-help {
    padding-top: 28px;
}

.icon-help i {
    font-size: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    margin-bottom: 0px;
}

.icon-description {
    text-align: left;
}

.school-icon {
    padding-top: 0;
    font-size: 1em;
    font-weight: bold;
}

.school-info {
    text-align: center;
}

.school-address,
.school-phone-email {
    font-size: 20px;
}

/*For Medium screen sizes and higher*/

@media screen and (min-width: 40em) {
    /* Turn on custom 8px wide scrollbar */
    ::-webkit-scrollbar,
    ::-moz-scrollbar {
        width: 8px;
        /* 1px wider than Lion. */
        /* This is more usable for users trying to click it. */
        background-color: rgba(0, 0, 0, 0);
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
    }

    /* hover effect for both scrollbar area, and scrollbar 'thumb' */
    ::-webkit-scrollbar:hover,
    ::-moz-scrollbar:hover {
        background-color: rgba(0, 0, 0, 0.09);
    }

    /* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
    ::-webkit-scrollbar-thumb:vertical,
    ::-moz-scrollbar-thumb:vertical {
        /* This is the EXACT color of Mac OS scrollbars. 
               Yes, I pulled out digital color meter */
        background: rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
    }

    ::-webkit-scrollbar-thumb:vertical:active,
    ::-moz-scrollbar-thumb:vertical:active {
        background: rgba(0, 0, 0, 0.61);
        /* Some darker color when you click it */
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
    }

    header div.mobile-top-nav {
        height: 75px;
        z-index: 0;
    }

    .music-logo img {
        height: 65px;
        width: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .welcome-medium {
        padding-top: 9px;
    }

    .mobile-top-nav button .help,
    .home-button {
        font-size: 2.2rem;
        cursor: pointer;
        color: #0C2179;
        margin-top: 21px;
    }

    /*    Help Overlay Styles*/
    .help-overlay {
        top: 75px;
    }

    .school-icon {
        font-size: 1.5em;
    }

    p.faq-how-to {
        font-size: 1em;
    }

    div.indiv-question {
        background-color: #378EFF;
        /*+border-radius: 55px;*/
        -moz-border-radius: 55px;
        -webkit-border-radius: 55px;
        -khtml-border-radius: 55px;
        border-radius: 55px;
        padding: 0px 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    div.indiv-question p:first-of-type {
        margin: 0;
        padding-right: 11px;
        padding-left: 11px;
        padding-top: 0px;
    }

    p.see-answer {
        font-size: 0.9em;
        font-style: italic;
        padding: 0px;
        margin: 0;
    }

    .help-question-acc-open {
        display: none;
    }

    div.help-question-acc-open p {
        font-size: 1.2em;
        text-align: left;
        text-indent: 50px;
    }

    /*End styles for Overlay*/
    .medium-header-backfiller {
        background-color: rgba(101, 189, 229, 0.517);
    }

    .colorful-ladder-header {
        width: 100%;
        max-height: 100px;
        position: fixed;
        top: 75px;
    }

    .colorful-ladder-header img {
        width: 100%;
        opacity: 1;
        height: 63px;
    }

    /*    styles for main content*/
    section div.hide-for-small-only {
        position: fixed;
        top: 141px;
        width: 100%;
        height: 100%;
    }

    div.hide-for-small-only.grid-container {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    /*    styles for left side of screen*/
    .medium-individual-instrument-container {
        height: 100%;
        padding-bottom: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .separator {
        border: 2px solid #606AFC;
    }

    .medium-intrument-open {
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        resize: vertical;
        padding-bottom: 30px;
    }

    .instruments-student-mobile.instruments-student-medium {
        padding-bottom: 0px !important;
        padding: 0;
    }

    .medium-instrument-header {
        height: 90px;
    }

    /*    styles for the individual ladder levels*/
    .apprentice {
        background: none 0 0 / auto no-repeat #8FBF22;
    }

    .song-bird {
        background: none 0 0 / auto no-repeat #D5E516;
    }

    .musician {
        background: none 0 0 / auto no-repeat #E3D30E;
    }

    .rockstar {
        background: none 0 0 / auto no-repeat #E3A428;
    }

    .allegro {
        background: none 0 0 / auto no-repeat #D8812A;
    }

    .vivace {
        background: none 0 0 / auto no-repeat #DA6729;
    }

    .prodigy {
        background: none 0 0 / auto no-repeat #D15815;
    }

    .maestro {
        background: none 0 0 / auto no-repeat #B22B31;
    }

    .master {
        background: none 0 0 / auto no-repeat #7C192A;
    }

    .superior {
        background: none 0 0 / auto no-repeat #9D3962;
    }

    .champion {
        background: none 0 0 / auto no-repeat #9D3396;
    }

    .superstar {
        background: none 0 0 / auto no-repeat #76349F;
    }

    .prima {
        background: none 0 0 / auto no-repeat #581B7E;
    }

    .bravo {
        background: none 0 0 / auto no-repeat #5357A2;
    }

    .adept {
        background: none 0 0 / auto no-repeat #434796;
    }

    .marvel {
        background: none 0 0 / auto no-repeat #202474;
    }

    .ace {
        background: none 0 0 / auto no-repeat #204A74;
    }

    .artist {
        background: none 0 0 / auto no-repeat #226B71;
    }



    /*    Styles for Instrument-Teacher Headers*/
    .instruments-student-medium .current-level {
        background-color: #A2DC1F;
        text-align: center;
        font-weight: bold;
    }

    div.next-level-date {
        height: 90px;
    }

    .current-level p {
        margin-top: 33px;
        font-size: 0.9em;
        margin-right: 5px;
        margin-left: 53px;
    }

    img.medium-current-level-icon,
    img.medium-next-level-icon {
        height: 65px;
        width: auto;
    }

    div.medium-music-notes {
        /*+placement: float-left;*/
        float: left;
        position: relative;
        left: 0;
        top: 0;
        height: 100%;
        width: 46px;
        padding-top: 12px;
        padding-bottom: 5px;
    }

    div.current-teacher-instrument {
        font-size: 1.2em;
        height: 90px;
        padding-top: 3px;
    }

    .next-level-date p {
        margin: 0 0 0 44px;
        padding-top: 18px;
        height: 89px;
        font-size: 0.6em;
    }

    div.test-grid-mobile {
        height: 85px;
    }

    .proficiency-level img {
        height: 100%;
        width: 109px;
        padding: 0;
    }

    .instrument-to-test,
    .date-of-test {
        padding-top: 14px;
        font-size: 0.8em;
        font-weight: bold;
        background-color: rgba(99, 188, 229, 0.517);
    }

    .instrument-to-test span {
        font-size: 0.8em;
    }

    .message-container {
        margin-right: 5px;
    }

    div.message-container:first-of-type {
        margin-top: 1px;
    }

    .date-of-note {
        margin-left: 69%;
    }

    .medium-instrument-header h2,
    .medium-events-header h2,
    .medium-notes-header h2,
    .medium-tests-header h2 {
        margin-bottom: 0;
        color: navy;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .medium-student-individual-instrument {
        margin-top: 10px;
        margin-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .medium-student-individual-instrument-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .medium-tests-container {
        padding-right: 5px;
        /*
        overflow-y: auto;
        overflow-x: hidden;
        */
        padding-left: 5px;
        height: 100%;
    }

    .medium-notes-container {
        padding-left: 5px;
        height: 100%;
        /*
        overflow-y: auto;
        overflow-x: hidden;
        */
        padding-right: 5px;
    }

    .medium-notes-container .individ-note {
        margin-bottom: 20px;
        background-color: rgba(0, 178, 217, 0.440);
    }

    .main-medium-events-container {
        padding-right: 10px;
        padding-bottom: 100px;
        padding-left: 10px;
        /*
        overflow-y: auto;
        overflow-x: hidden;
        */
    }

    .attachment-icon {
        text-align: center;
    }

    #medium-events {
        padding-bottom: 200px;
        height: 100%;
        /*
        overflow-y: auto;
        overflow-x: hidden;
        */
    }

    p.month-name {
        font-size: 1em;
    }

    p.event-time {
        font-size: 1em;
    }

    p.event-name {
        font-size: 0.8em;
    }

    div.more-details {
        padding: 0px 0 0;
        margin: 0;
    }

    p.more-details {
        font-size: 0.8em;
        text-align: center;
        padding: 0px 0 0;
    }

    p.close-details {
        font-size: 0.8em;
    }

    .personal-events {
        padding-bottom: 0;
    }

    .global-events {
        display: block;
    }
}

div.more-details {
    padding: 0px 0 0;
    margin: 0;
}

p.more-details {
    font-size: 0.8em;
    text-align: center;
    padding: 0px 0 0;
}

p.close-details {
    font-size: 0.8em;
}

.personal-events {
    padding-bottom: 0;
}

.upcoming-title h1,
.completed-title h1,
.person-event-title h1,
.global-event-title h1 {
    margin-top: 20px;
    margin-bottom: 7px;
    color: navy;
    text-align: center;
    font-size: 1.8em;
}

.global-events {
    display: block;
}

/*For large screens and higher*/

@media screen and (min-width: 50em) {
    .current-level p {
        margin-top: 26px;
        font-size: 1.4em;
    }

    div.test-grid-mobile {
        height: 107px;
    }

    div.current-teacher-instrument {
        font-size: 1.3em;
        padding: 0;
    }

    .next-level-date p {
        padding-top: 14px;
        font-size: 0.8em;
        height: 89px;
        width: 128px;
    }

    .instrument-to-test,
    .date-of-test {
        padding-top: 26px;
        font-size: 1em;
        font-weight: bold;
        background-color: rgba(99, 188, 229, 0.517);
    }

    p.month-name {
        font-size: 1.2em;
    }

    p.event-name {
        font-size: 1em;
    }

    div.more-details {
        padding: 0px 0 0;
        margin: 0;
    }
}

/* x-Large and up */

@media screen and (min-width: 64em) {
    .current-level p {
        margin-top: 21px;
        font-size: 1.8em;
    }

    .colorful-ladder-header img {
        width: 100%;
        opacity: 1;
        height: 85px;
    }

    section div.hide-for-small-only {
        position: fixed;
        top: 160px;
        width: 100%;
        height: 100%;
    }

    div.current-teacher-instrument {
        font-size: 1.3em;
        padding: 0;
    }

    .next-level-date p {
        margin: 0 0 0 55px;
        padding-top: 4px;
        font-size: 1em;
        height: 89px;
        width: 169px;
    }

    div.medium-music-notes {
        /*+placement: float-left;*/
        float: left;
        position: relative;
        left: 0;
        top: 0;
        height: 100%;
        width: 46px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    img.medium-current-level-icon,
    img.medium-next-level-icon {
        height: 65px;
        width: auto;
    }

    div.test-grid-mobile {
        height: 140px;
    }

    .instrument-to-test,
    .date-of-test {
        padding-top: 24px;
        font-size: 1.2em;
        font-weight: bold;
        background-color: rgba(99, 188, 229, 0.517);
    }

    p.month-name {
        font-size: 1.7em;
    }

    p.more-details {
        font-size: 1em;
    }
}
