body {
    background: #40B2BF;
    color: white;
    text-align: center;
}

.explanation {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: left;
}

.student-level,
.parent-level,
.teacher-level,
.director-level {
    height: 150px;
}

.individual-description {
    overflow: scroll;
    padding-left: 10px;
    padding-right: 10px;
    height: 150px;
}

.individual-button {
    padding-top: 39px;
}

.individual-button button:enabled {
    color: navy;
}

.individual-button button:disabled {
    cursor: default;
}

/*Delete the next rule once a description is entered!*/
.student-level .individual-description,
.parent-level .individual-description,
.director-level .individual-description,
.teacher-level .individual-description {
    padding-top: 6px;
    text-align: left;
    text-indent: 50px;
}

.individual-button,
.individual-description {
    border: 1px solid #4073BE;
}

.choose-your-level {
    margin-bottom: 100px;
}

.directions {
    text-indent: 49px;
    padding-left: 15px;
    padding-right: 15px;
}
