body {
    background: url(../users/assets/img/Artboard-1.svg) 50% 50% / cover no-repeat fixed #D5E1ED;
    color: white;
    text-align: center;
}

::-webkit-scrollbar:hover,
::-moz-scrollbar {
    visibility: visible;
}

.welcome {
    text-shadow: 0px 5px 5px #B2F5FB;
}

.explanation {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: left;
}

.student-level,
.parent-level,
.teacher-level,
.director-level {
    height: 150px;
}

.individual-description {
    overflow: scroll;
    padding-left: 10px;
    padding-right: 10px;
    height: 150px;
}

.individual-button {
    padding-top: 39px;
}

.individual-button button:enabled {
    color: white;
    padding: 6px;
    /*+border-radius: 11px;*/
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -khtml-border-radius: 11px;
    border-radius: 11px;
    background-color: #0090FF;
    /*+box-shadow: 0px 5px 5px #B2F5FB;*/
    -moz-box-shadow: 0px 5px 5px #B2F5FB;
    -webkit-box-shadow: 0px 5px 5px #B2F5FB;
    box-shadow: 0px 5px 5px #B2F5FB;
}

.individual-button button:disabled {
    cursor: default;
}

/*Delete the next rule once a description is entered!*/
.student-level .individual-description,
.individual-description {
    padding-top: 6px;
    text-align: left;
    text-indent: 50px;
}

.individual-button,
.individual-description {
    border: 1px solid #4073BE;
    background-color: rgba(2, 177, 255, 0.581);
}

.choose-your-level {
    margin-bottom: 100px;
}

.directions {
    text-indent: 49px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(1, 155, 255, 0.573);
}

.active-nav-option {
    background-color: ;
}
