div.main-content-mobile {
    font-family: UnicaOne;
    /*height: 100%;*/
}

/*Header for Student Instruments on Mobile*/
.instruments-student-mobile .current-level {
    height: auto;
    text-align: right;
}

.instruments-student-mobile img {
    height: 133px;
    width: auto;
}

/*Main Content for Student Instruments on Mobile*/
div.instruments-student-mobile,
div.instruments-student-mobile-header {
    text-align: center;
    padding: 9.25px;
    /*background-color: rgba(68, 85, 103, 0.603);*/
}

div.instruments-student-mobile {
    height: 100%;
}

div.instruments-student-mobile:last-of-type {
    padding-bottom: 200px;
}

.current-teacher-instrument {
    font-size: 19px;
    height: 133px;
    padding-top: 15px;
    font-weight: bold;
    background-color: rgba(99, 188, 229, 0.517);
}

/*.current-teacher-instrument p,
.next-level-date p {
    font-size: 100%;
    padding-top: 3%;
}*/
.current-teacher-instrument span {
    font-size: 15px;
}

.current-teacher-instrument p.instrument-teacher {
    font-size: 1em;
    height: 60px;
    margin: 0px 0px 4px 0px;
}

.current-teacher-instrument p.click-open-medium-teachinst {
    font-size: 0.6em;
}

.next-level-date p {
    font-size: 1em;
    width: 98px;
}

.next-level-date {
    vertical-align: middle;
    font-size: 25px;
    font-family: UnicaOne;
    width: ;
    font-weight: bold;
    padding-top: 0;
    height: 133px;
}

.apprentice {
    background: url(../../img/LV1_Apprentice.png) 0 0 / contain no-repeat;
}

.song-bird {
    background: url(../../img/LV2_Song-Bird.png) 0 0 / contain no-repeat;
}

.musician {
    background: url(../../img/LV3_Musician.png) 0 0 / contain no-repeat;
}

.rockstar {
    background: url(../../img/LV4_Rock-Star.png) 0 0 / contain no-repeat;
}

.allegro {
    background: url(../../img/LV5_Allegro.png) 0 0 / contain no-repeat;
}

.vivace {
    background: url(../../img/LV6_Vivace.png) 0 0 / contain no-repeat;
}

.prodigy {
    background: url(../../img/LV7_Prodigy.png) 0 0 / contain no-repeat;
}

.maestro {
    background: url(../../img/LV8_Maestro.png) 0 0 / contain no-repeat;
}

.master {
    background: url(../../img/LV9_Master.png) 0 0 / contain no-repeat;
}

.superior {
    background: url(../../img/LV10_Superior.png) 0 0 / contain no-repeat;
}

.champion {
    background: url(../../img/LV11_Champion.png) 0 0 / contain no-repeat;
}

.superstar {
    background: url(../../img/LV12_Superstar.png) 0 0 / contain no-repeat;
}

.prima {
    background: url(../../img/LV13_Prima.png) 0 0 / contain no-repeat;
}

.bravo {
    background: url(../../img/LV14_Bravo.png) 0 0 / contain no-repeat;
}

.adept {
    background: url(../../img/LV15_Adept.png) 0 0 / contain no-repeat;
}

.marvel {
    background: url(../../img/LV16_Marvel.png) 0 0 / contain no-repeat;
}

.ace {
    background: url(../../img/LV17_Ace.png) 0 0 / contain no-repeat;
}

.artist {
    background: url(../../img/LV18_Artist.png) 0 0 / contain no-repeat;
}
