/*Test Mobile Header for Student*/
.test-grid-mobile.grid-container {
    height: 100%;
}

.upcoming-completed-respective {
    text-align: center;
    background-color: rgba(99, 188, 229, 0.517);
}

.upcoming-completed-respective p {
    font-weight: 900;
    font-weight: bold;
    font-size: 27px;
    font-family: SedgewickAve;
    padding: 0px;
    cursor: pointer;
    color: #5B5BFF;
}

#upcomingBtn,
#completedBtn {
    margin-bottom: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#upcomingBtn {
    color: navy;
    /*+box-shadow: inset 0 0 75px white;*/
    -moz-box-shadow: inset 0 0 75px white;
    -webkit-box-shadow: inset 0 0 75px white;
    box-shadow: inset 0 0 75px white;
}

#upcoming {
    margin-bottom: 200px;
}

.upcoming-completed-respective a:active {
    color: #1616B0;
    text-shadow: 0 0 15px #FFFFFF;
}

#completed {
    display: none;
    margin-bottom: 100px;
}

/*Mobile Only View for Tests*/
.test-grid-mobile {
    text-align: center;
    margin-bottom: 18px;
    /*max-height: 117px;*/
}

.proficiency-level img {
    height: 100%;
    width: 100%;
    padding: 0;
}

.instrument-to-test,
.date-of-test {
    padding-top: 6%;
    vertical-align: middle;
    font-size: 20px;
    font-family: GermaiaOne;
    font-weight: bold;
    background-color: rgba(99, 188, 229, 0.517);
}

.instrument-to-test span {
    font-size: 13px;
}

/*For Medium screen sizes and higher*/
@media screen and (min-width: 40em) {
    div.test-grid-mobile {
        height: 85px;
    }
    
    .test-grid-medium {
        text-align: center;
    }
    
    .proficiency-level img {
        height: 100%;
        width: 109px;
        padding: 0;
    }
    
    .instrument-to-test,
    .date-of-test {
        padding-top: 14px;
        font-size: 0.8em;
        font-weight: bold;
        background-color: rgba(99, 188, 229, 0.517);
    }
    
    .instrument-to-test span {
        font-size: 0.8em;
    }
}

/*For large screens and higher*/
@media screen and (min-width: 50em) {
    div.test-grid-mobile {
        height: 107px;
    }
    
    .instrument-to-test,
    .date-of-test {
        padding-top: 14px;
        font-size: 1em;
        font-weight: bold;
        background-color: rgba(99, 188, 229, 0.517);
    }
}

/* x-Large and up */
@media screen and (min-width: 64em) {
    div.test-grid-mobile {
        height: 140px;
    }
    
    .instrument-to-test,
    .date-of-test {
        padding-top: 23px;
        vertical-align: middle;
        font-size: 1.2em;
        font-weight: bold;
        background-color: rgba(99, 188, 229, 0.517);
    }
}
