DIV.message-container:first-of-type {
    margin-top: 26px;
}

.message-container {
    margin-bottom: 20px;
    background-color: rgba(0, 178, 217, 0.440);
    border: 1px solid #2D01CB;
    text-align: center;
}

.message {
    margin-top: 15px;
    padding: 10px;
    text-align: left;
}

LABEL.open-notes,
LABEL.close-notes {
    font-style: italic;
    color: white;
    color: #0C2179;
    font-size: 17px;
    padding-top: 15%;
    cursor: pointer;
}

LABEL.close-notes {
    display: none;
}

.notes-acc-dropdown {
    display: none;
}

.individ-note {
    border: 1px solid #2D01CB;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 30px;
    width: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.individ-note:first-of-type {
    margin-top: 0px;
}

.individ-note:last-of-type {
    margin-bottom: 200px;
}

.talk-bubble {
    display: inline-block;
    position: relative;
    height: auto;
    background-color: #AEDDF2;
}

.bubble:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 37px;
    right: auto;
    top: auto;
    bottom: -24px;
    border: 12px solid;
    border-color: #2D01CB transparent transparent #2D01CB;
}

.bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    right: auto;
    top: auto;
    bottom: -21px;
    border: 11px solid;
    border-color: #AEDDF2 transparent transparent #AEDDF2;
}

DIV.message-container:last-of-type {
    margin-bottom: 200px;
}

.message-from {
    color: navy;
    font-size: 1.3em;
    padding-top: 7px;
    text-align: center;
}

.fa-paperclip {
    color: #0C2179;
    font-size: 25px;
    cursor: pointer;
}

/*For Medium screen sizes and higher*/
@media screen and (min-width: 40em) {
    .message-container {
        margin-right: 5px;
    }
    
    DIV.message-container:first-of-type {
        margin-top: 1px;
    }
    
    .date-of-note {
        margin-left: 69%;
    }
}
